.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
}


form div {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

label {
  display: block;
  margin-bottom: 5px;

}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 5px;
}

button.close {
  background-color: gray;
}
button.btn.btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.employeeId-label,.leaveTypeId {
  display: none; /* Hide the label */
}

.custom-dropdown {
  margin-left: 10px;
  position: relative;
  /*width: calc(100% - 90px); !* Adjust width to account for label width and margin *!*/
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 32px 8px 8px; /* Adjust padding as needed */
  width: 100%; /* Make the select full-width */
  box-sizing: border-box; /* Include padding in the width */
}

.arrow {
  position: absolute;
  top: 50%;
  right: 2px;

  transform: translateY(-50%);
  color: grey;

}
.fa-solid{
  position: absolute;
  top: 50%;
  right:25px;
  transform: translateY(-50%);
  color: grey;
}
