

<!--<div>-->
<!--  <h1>Employees</h1>-->
<!--  <input type="text" placeholder="Search" >-->
<!--  <button (click)="addEmployee()">Add Employee</button>-->
<!--  <table>-->
<!--    <table class="table table-bordered">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>First Name</th>-->
<!--        <th>Last Name</th>-->
<!--        <th>Phone Number</th>-->
<!--        <th>Department</th>-->
<!--        <th>Action</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let employee of employees">-->
<!--        <td>{{ employee.firstName }}</td>-->
<!--        <td>{{ employee.lastName }}</td>-->
<!--        <td>{{ employee.phoneNumber }}</td>-->
<!--        <td>{{ employee.department }}</td>-->
<!--        <td>-->
<!--          <button class="btn btn-sm btn-primary" (click)="editEmployee(employee)">Edit</button>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </table>-->
<!--</div>-->
<div>
  <h1>Employees</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col" >
        <input type="text" placeholder="Search" class="form-control">
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="addEmployee()"> +Add Employee</button>
      </div>

      <br><br>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.phoneNumber }}</td>
        <td>{{ employee.department }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editEmployee(employee)">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
