<!--<div>-->
<!--  <h1>Employees</h1>-->
<!--  <div class="container-fluid">-->
<!--    <div class="row align-items-center mb-3">-->
<!--      <div class="col">-->
<!--        <input type="text" placeholder="Search" class="form-control search-box">-->
<!--      </div>-->
<!--            <div class="col-auto ml-auto">-->
<!--              <button class="btn btn-primary" (click)="openAddEmployeeModal()"> +Add Employee</button>-->


<!--            </div>-->
<!--    </div>-->
<!--    <table id="employeesTable" class="table table-bordered">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>First Name</th>-->
<!--        <th>Last Name</th>-->
<!--        <th>Phone Number</th>-->
<!--        <th>Address</th>-->

<!--        <th>Age</th>-->
<!--        <th>Gender</th>-->
<!--        <th>Department</th>-->
<!--        <th>Action</th>-->


<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let employee of employees">-->
<!--        <td>{{ employee.firstName }}</td>-->
<!--        <td>{{employee.lastName}}</td>-->
<!--        <td>{{ employee.number }}</td>-->
<!--        <td>{{ employee.address }}</td>-->

<!--        <td>{{ employee.age }}</td>-->
<!--        <td>{{employee.gender}}</td>-->
<!--        <td>{{employee.departmentName}}</td>-->

<!--        <td>-->
<!--            <i class="fas fa-pen-to-square" (click)="editEmployee(employee)" style="margin-right: 10px;">   </i>-->
<!--          <i class="fa-solid fa-trash-can"(click)="editEmployee(employee)"></i>-->
<!--        </td>-->



<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->




  <h1>Employees</h1>
  <div class="container-fluid">
    <div class="row align-items-center mb-3">
      <div class="col d-flex align-items-center">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery">
        <i class="fa-solid fa-magnifying-glass" (click)="onSearch()"></i>

        <i class="fa-solid fa-x" type="button" (click)="resetSearch()"></i>
      </div>

      <div class="col-auto ml-auto">
        <button class="btn btn-primary" (click)="openAddEmployeeModal()">+ Add Employee</button>
      </div>
    </div>
    <table id="employeesTable" class="table table-bordered">
      <thead>
      <tr>
        <th>Employee's ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of searchActive ? filteredEmployees : employees1">
        <td>{{employee.empId}}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.phonenumber }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.departmentName }}</td>
        <td>
          <i class="fas fa-edit" (click)="openEditEmployeeModal(employee)" style="margin-right: 10px; cursor: pointer;"></i>

          <i class="fas fa-trash-alt" (click)="openDeleteConfirmationModal(employee)" style="cursor: pointer;"></i>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

