<div class="container">
  <h1>Leave Records</h1>
  <div class="col-auto ml-auto">
    <button class="btn btn-primary" (click)="openAddLeaveModal()">+ Add Leave</button>
  </div>

  <!-- Filter Section -->
  <div class="filter-section mb-4">
    <form (ngSubmit)="onFilterChange()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="leaveTypeId">Leave Type ID</label>
          <input type="number" id="leaveTypeId" class="form-control" [(ngModel)]="leaveTypeId" name="leaveTypeId">
        </div>
        <div class="col-md-6 mb-3">
          <label for="employeeId">Employee ID</label>
          <input type="number" id="employeeId" class="form-control" [(ngModel)]="employeeId" name="employeeId">
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </form>
  </div>

  <ngx-datatable
    class="bootstrap"
    [rows]="leaves"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [scrollbarH]="true"
    [count]="totalItems"
    [limit]="itemsPerPage"
    [externalPaging]="true"
    (page)="onPageChange($event)">
  </ngx-datatable>




</div>
