<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #employeeForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" id="firstName" class="form-control" required [(ngModel)]="employee.firstName" name="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" id="lastName" class="form-control" required [(ngModel)]="employee.lastName" name="lastName">
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" id="phoneNumber" class="form-control" required [(ngModel)]="employee.phoneNumber" name="phoneNumber">
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <ng-select [items]="departments" bindLabel="name" [(ngModel)]="employee.department" name="department" required></ng-select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
