/* expense-entries.component.css */
.table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table thead {
  background-color: dodgerblue;
  color: #ffffff;
}

.table thead th {
  background-color:  dodgerblue;
  color: #ffffff;
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid  dodgerblue;
}
.no-entries {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

.no-entries p {
  font-size: 1.5rem;
  color: #555;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


table{
  margin-left :25px;
}
